<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory>
  <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
  <property name="hibernate.connection.password">root</property>
  <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/sis_arriendo</property>
  <property name="hibernate.connection.username">postgres</property>
  <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
  <!-- Configuracion del pool interno -->
  <property name="connection.pool_size">1</property>
  <!-- Otras propiedades importantes -->
  <property name="show_sql">true</property>
  <property name="hbm2ddl.auto">update</property>
  <!-- Archivos de mapeo -->
  <mapping resource="arriendo/entidades/ARR_Contrato_Cab.hbm.xml"/>
  <mapping resource="arriendo/entidades/ARR_Contrato_Det.hbm.xml"/>
  <mapping resource="arriendo/entidades/ARR_Inter_Per.hbm.xml"/>
  <mapping resource="arriendo/entidades/GEN_Area.hbm.xml"/>
  <mapping resource="arriendo/entidades/GEN_Articulos.hbm.xml"/>
  <mapping resource="arriendo/entidades/GEN_Persona.hbm.xml"/>
  <mapping resource="arriendo/entidades/GEN_Sitios.hbm.xml"/>
  <mapping resource="arriendo/entidades/GEN_Tipo.hbm.xml"/>
  <mapping resource="arriendo/entidades/ARR_Contrato_Articulo.hbm.xml"/>
  <mapping resource="arriendo/entidades/ARR_ContratoClausulas_Det.hbm.xml"/>
  <mapping resource="arriendo/entidades/GEN_ContratoPlantilla_Cab.hbm.xml"/>
  <mapping resource="arriendo/entidades/GEN_ContratoPlantillaClausulas_Det.hbm.xml"/>
  <mapping resource="arriendo/entidades/GEN_Estado.hbm.xml"/>
  <mapping resource="arriendo/entidades/GEN_Institucion.hbm.xml"/>
  <mapping resource="arriendo/entidades/GEN_Sector.hbm.xml"/>
 </session-factory>
</hibernate-configuration>
